<a href="https://colab.research.google.com/github/amiguelnobrega/Automatidata/blob/main/automatidata1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#import pandas and numpy libraries with aliases
import pandas as pd
import numpy as np

In [6]:
#mount google drive in colab notebook
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [7]:
df = pd.read_csv('/content/gdrive/Othercomputers/My MacBook Air/Estudo/Google Advance DA/Projects/Automatidata/automatidata_dataset.csv')
print('done!')

done!

In [8]:
#checking first 10 rows
df.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,24870114,2,03/25/2017 8:55:43 AM,03/25/2017 9:09:47 AM,6,3.34,1,N,100,231,1,13.0,0.0,0.5,2.76,0.0,0.3,16.56
1,35634249,1,04/11/2017 2:53:28 PM,04/11/2017 3:19:58 PM,1,1.80,1,N,186,43,1,16.0,0.0,0.5,4.00,0.0,0.3,20.80
2,106203690,1,12/15/2017 7:26:56 AM,12/15/2017 7:34:08 AM,1,1.00,1,N,262,236,1,6.5,0.0,0.5,1.45,0.0,0.3,8.75
3,38942136,2,05/07/2017 1:17:59 PM,05/07/2017 1:48:14 PM,1,3.70,1,N,188,97,1,20.5,0.0,0.5,6.39,0.0,0.3,27.69
4,30841670,2,04/15/2017 11:32:20 PM,04/15/2017 11:49:03 PM,1,4.37,1,N,4,112,2,16.5,0.5,0.5,0.00,0.0,0.3,17.80
5,23345809,2,03/25/2017 8:34:11 PM,03/25/2017 8:42:11 PM,6,2.30,1,N,161,236,1,9.0,0.5,0.5,2.06,0.0,0.3,12.36
6,37660487,2,05/03/2017 7:04:09 PM,05/03/2017 8:03:47 PM,1,12.83,1,N,79,241,1,47.5,1.0,0.5,9.86,0.0,0.3,59.16
7,69059411,2,08/15/2017 5:41:06 PM,08/15/2017 6:03:05 PM,1,2.98,1,N,237,114,1,16.0,1.0,0.5,1.78,0.0,0.3,19.58
8,8433159,2,02/04/2017 4:17:07 PM,02/04/2017 4:29:14 PM,1,1.20,1,N,234,249,2,9.0,0.0,0.5,0.00,0.0,0.3,9.80
9,95294817,1,11/10/2017 3:20:29 PM,11/10/2017 3:40:55 PM,1,1.60,1,N,239,237,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55

In [9]:
#check dataframe general info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22699 entries, 0 to 22698
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             22699 non-null  int64
 1   VendorID               22699 non-null  int64
 2   tpep_pickup_datetime   22699 non-null  object
 3   tpep_dropoff_datetime  22699 non-null  object
 4   passenger_count        22699 non-null  int64
 5   trip_distance          22699 non-null  float64
 6   RatecodeID             22699 non-null  int64
 7   store_and_fwd_flag     22699 non-null  object
 8   PULocationID           22699 non-null  int64
 9   DOLocationID           22699 non-null  int64
 10  payment_type           22699 non-null  int64
 11  fare_amount            22699 non-null  float64
 12  extra                  22699 non-null  float64
 13  mta_tax                22699 non-null  float64
 14  tip_amount             22699 non-null  float64
 15  tolls_amount           22699 non-null  float64
 16  improvement_surcharge  22699 non-null  float64
 17  total_amount           22699 non-null  float64
dtypes: float64(8), int64(7), object(3)
memory usage: 3.1+ MB

In [10]:
#check dataframe statistical distribuition
df.describe()

,Unnamed: 0,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,2.269900e+04,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000,22699.000000
mean,5.675849e+07,1.556236,1.642319,2.913313,1.043394,162.412353,161.527997,1.336887,13.026629,0.333275,0.497445,1.835781,0.312542,0.299551,16.310502
std,3.274493e+07,0.496838,1.285231,3.653171,0.708391,66.633373,70.139691,0.496211,13.243791,0.463097,0.039465,2.800626,1.399212,0.015673,16.097295
min,1.212700e+04,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-120.000000,-1.000000,-0.500000,0.000000,0.000000,-0.300000,-120.300000
25%,2.852056e+07,1.000000,1.000000,0.990000,1.000000,114.000000,112.000000,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.750000
50%,5.673150e+07,2.000000,1.000000,1.610000,1.000000,162.000000,162.000000,1.000000,9.500000,0.000000,0.500000,1.350000,0.000000,0.300000,11.800000
75%,8.537452e+07,2.000000,2.000000,3.060000,1.000000,233.000000,233.000000,2.000000,14.500000,0.500000,0.500000,2.450000,0.000000,0.300000,17.800000
max,1.134863e+08,2.000000,6.000000,33.960000,99.000000,265.000000,265.000000,4.000000,999.990000,4.500000,0.500000,200.000000,19.100000,0.300000,1200.290000

In [11]:
df_sort = df.sort_values(by=['trip_distance'],ascending=False)
df_sort.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
9280,51810714,2,06/18/2017 11:33:25 PM,06/19/2017 12:12:38 AM,2,33.96,5,N,132,265,2,150.00,0.0,0.0,0.00,0.00,0.3,150.30
13861,40523668,2,05/19/2017 8:20:21 AM,05/19/2017 9:20:30 AM,1,33.92,5,N,229,265,1,200.01,0.0,0.5,51.64,5.76,0.3,258.21
6064,49894023,2,06/13/2017 12:30:22 PM,06/13/2017 1:37:51 PM,1,32.72,3,N,138,1,1,107.00,0.0,0.0,55.50,16.26,0.3,179.06
10291,76319330,2,09/11/2017 11:41:04 AM,09/11/2017 12:18:58 PM,1,31.95,4,N,138,265,2,131.00,0.0,0.5,0.00,0.00,0.3,131.80
29,94052446,2,11/06/2017 8:30:50 PM,11/07/2017 12:00:00 AM,1,30.83,1,N,132,23,1,80.00,0.5,0.5,18.56,11.52,0.3,111.38
18130,90375786,1,10/26/2017 2:45:01 PM,10/26/2017 4:12:49 PM,1,30.50,1,N,132,220,1,90.50,0.0,0.5,19.85,8.16,0.3,119.31
5792,68023798,2,08/11/2017 2:14:01 PM,08/11/2017 3:17:31 PM,1,30.33,2,N,132,158,1,52.00,0.0,0.5,14.64,5.76,0.3,73.20
15350,77309977,2,09/14/2017 1:44:44 PM,09/14/2017 2:34:29 PM,1,28.23,2,N,13,132,1,52.00,0.0,0.5,4.40,5.76,0.3,62.96
10302,43431843,1,05/15/2017 8:11:34 AM,05/15/2017 9:03:16 AM,1,28.20,2,N,90,132,1,52.00,0.0,0.5,11.71,5.76,0.3,70.27
2592,51094874,2,06/16/2017 6:51:20 PM,06/16/2017 7:41:42 PM,1,27.97,2,N,261,132,2,52.00,4.5,0.5,0.00,5.76,0.3,63.06

In [12]:
#sort descending df by trip distance top 10 values
df_sort = df.sort_values(by=['trip_distance'], ascending=False)
df_sort.head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
9280,51810714,2,06/18/2017 11:33:25 PM,06/19/2017 12:12:38 AM,2,33.96,5,N,132,265,2,150.00,0.0,0.0,0.00,0.00,0.3,150.30
13861,40523668,2,05/19/2017 8:20:21 AM,05/19/2017 9:20:30 AM,1,33.92,5,N,229,265,1,200.01,0.0,0.5,51.64,5.76,0.3,258.21
6064,49894023,2,06/13/2017 12:30:22 PM,06/13/2017 1:37:51 PM,1,32.72,3,N,138,1,1,107.00,0.0,0.0,55.50,16.26,0.3,179.06
10291,76319330,2,09/11/2017 11:41:04 AM,09/11/2017 12:18:58 PM,1,31.95,4,N,138,265,2,131.00,0.0,0.5,0.00,0.00,0.3,131.80
29,94052446,2,11/06/2017 8:30:50 PM,11/07/2017 12:00:00 AM,1,30.83,1,N,132,23,1,80.00,0.5,0.5,18.56,11.52,0.3,111.38
18130,90375786,1,10/26/2017 2:45:01 PM,10/26/2017 4:12:49 PM,1,30.50,1,N,132,220,1,90.50,0.0,0.5,19.85,8.16,0.3,119.31
5792,68023798,2,08/11/2017 2:14:01 PM,08/11/2017 3:17:31 PM,1,30.33,2,N,132,158,1,52.00,0.0,0.5,14.64,5.76,0.3,73.20
15350,77309977,2,09/14/2017 1:44:44 PM,09/14/2017 2:34:29 PM,1,28.23,2,N,13,132,1,52.00,0.0,0.5,4.40,5.76,0.3,62.96
10302,43431843,1,05/15/2017 8:11:34 AM,05/15/2017 9:03:16 AM,1,28.20,2,N,90,132,1,52.00,0.0,0.5,11.71,5.76,0.3,70.27
2592,51094874,2,06/16/2017 6:51:20 PM,06/16/2017 7:41:42 PM,1,27.97,2,N,261,132,2,52.00,4.5,0.5,0.00,5.76,0.3,63.06

In [13]:
#sort descending df by total amount top 20 values
sort_total_amount = df.sort_values(by=['total_amount'], ascending=False)
sort_total_amount.head(20)
#some values where trip_distance = 0 have high total_amount values

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
8476,11157412,1,02/06/2017 5:50:10 AM,02/06/2017 5:51:08 AM,1,2.60,5,N,226,226,1,999.99,0.0,0.0,200.00,0.00,0.3,1200.29
20312,107558404,2,12/19/2017 9:40:46 AM,12/19/2017 9:40:55 AM,2,0.00,5,N,265,265,2,450.00,0.0,0.0,0.00,0.00,0.3,450.30
13861,40523668,2,05/19/2017 8:20:21 AM,05/19/2017 9:20:30 AM,1,33.92,5,N,229,265,1,200.01,0.0,0.5,51.64,5.76,0.3,258.21
12511,107108848,2,12/17/2017 6:24:24 PM,12/17/2017 6:24:42 PM,1,0.00,5,N,265,265,1,175.00,0.0,0.0,46.69,11.75,0.3,233.74
15474,55538852,2,06/06/2017 8:55:01 PM,06/06/2017 8:55:06 PM,1,0.00,5,N,265,265,1,200.00,0.0,0.5,11.00,0.00,0.3,211.80
6064,49894023,2,06/13/2017 12:30:22 PM,06/13/2017 1:37:51 PM,1,32.72,3,N,138,1,1,107.00,0.0,0.0,55.50,16.26,0.3,179.06
16379,101198443,2,11/30/2017 10:41:11 AM,11/30/2017 11:31:45 AM,1,25.50,5,N,132,265,2,140.00,0.0,0.5,0.00,16.26,0.3,157.06
3582,111653084,1,01/01/2017 11:53:01 PM,01/01/2017 11:53:42 PM,1,7.30,5,N,1,1,1,152.00,0.0,0.0,0.00,0.00,0.3,152.30
11269,51920669,1,06/19/2017 12:51:17 AM,06/19/2017 12:52:12 AM,2,0.00,5,N,265,265,1,120.00,0.0,0.0,20.00,11.52,0.3,151.82
9280,51810714,2,06/18/2017 11:33:25 PM,06/19/2017 12:12:38 AM,2,33.96,5,N,132,265,2,150.00,0.0,0.0,0.00,0.00,0.3,150.30
1928,51087145,1,06/16/2017 6:30:08 PM,06/16/2017 7:18:50 PM,2,12.50,5,N,211,265,1,120.00,0.0,0.0,5.00,12.50,0.3,137.80
10291,76319330,2,09/11/2017 11:41:04 AM,09/11/2017 12:18:58 PM,1,31.95,4,N,138,265,2,131.00,0.0,0.5,0.00,0.00,0.3,131.80
6708,91660295,2,10/30/2017 11:23:46 AM,10/30/2017 11:23:49 AM,1,0.32,5,N,264,83,1,100.00,0.0,0.5,25.20,0.00,0.3,126.00
11608,107690629,2,12/19/2017 5:00:56 PM,12/19/2017 6:41:56 PM,2,23.00,3,N,151,1,1,99.50,1.0,0.0,10.00,12.50,0.3,123.30
908,25075013,2,03/27/2017 1:01:38 PM,03/27/2017 1:38:44 PM,2,26.12,4,N,138,265,1,100.00,0.0,0.5,15.00,5.76,0.3,121.56
7281,111091850,2,01/01/2017 3:02:53 AM,01/01/2017 3:03:02 AM,1,0.00,5,N,265,265,1,100.00,0.0,0.5,20.16,0.00,0.3,120.96
18130,90375786,1,10/26/2017 2:45:01 PM,10/26/2017 4:12:49 PM,1,30.50,1,N,132,220,1,90.50,0.0,0.5,19.85,8.16,0.3,119.31
13621,93330154,1,11/04/2017 1:32:14 PM,11/04/2017 2:18:50 PM,2,19.80,5,N,265,230,1,105.00,0.0,0.0,8.00,2.64,0.3,115.94
13359,3055315,1,01/12/2017 7:19:36 AM,01/12/2017 7:19:56 AM,1,0.00,5,N,1,1,1,75.00,0.0,0.0,18.65,18.00,0.3,111.95
29,94052446,2,11/06/2017 8:30:50 PM,11/07/2017 12:00:00 AM,1,30.83,1,N,132,23,1,80.00,0.5,0.5,18.56,11.52,0.3,111.38

In [14]:
#sort descending df by total amount top 20 values
sort_total_amount = df.sort_values(by=['total_amount'], ascending=False)['total_amount']
sort_total_amount.head(20)

8476     1200.29
20312     450.30
13861     258.21
12511     233.74
15474     211.80
6064      179.06
16379     157.06
3582      152.30
11269     151.82
9280      150.30
1928      137.80
10291     131.80
6708      126.00
11608     123.30
908       121.56
7281      120.96
18130     119.31
13621     115.94
13359     111.95
29        111.38
Name: total_amount, dtype: float64

In [15]:
#sort descending df by total amount bottom 20 values
sort_total_amount = df.sort_values(by=['total_amount'], ascending=False)['total_amount']
sort_total_amount.tail(20)
#total_amount < 0 in a few entries

14283      0.31
19067      0.30
10506      0.00
5722       0.00
4402       0.00
22566      0.00
1646      -3.30
18565     -3.80
314       -3.80
5758      -3.80
5448      -4.30
4423      -4.30
10281     -4.30
8204      -4.80
20317     -4.80
11204     -5.30
14714     -5.30
17602     -5.80
20698     -5.80
12944   -120.30
Name: total_amount, dtype: float64

In [16]:
#payment_type value counts
df.payment_type.value_counts()
#credit card is by far the most common payment type

payment_type
1    15265
2     7267
3      121
4       46
Name: count, dtype: int64

In [17]:
#above code with %, 0.2% disputes seems reasonable
round(df.payment_type.value_counts(1)*100,ndigits=2)

payment_type
1    67.25
2    32.01
3     0.53
4     0.20
Name: proportion, dtype: float64

In [18]:
#rounded average credit card payment tip
avg_cc_tip = round(df[df['payment_type']==1]['tip_amount'].mean(),ndigits=2)
print('average cc tip = ', avg_cc_tip)

average cc tip =  2.73

In [19]:
#rounded average cash payment tip
avg_cc_tip = round(df[df['payment_type']==2]['tip_amount'].mean(),ndigits=2)
print('average cash tip = ', avg_cc_tip)

average cash tip =  0.0

In [20]:
#df vendorID count
df['VendorID'].value_counts()

VendorID
2    12626
1    10073
Name: count, dtype: int64

In [21]:
#above code with %
round(df['VendorID'].value_counts(1)*100,ndigits=2)

VendorID
2    55.62
1    44.38
Name: proportion, dtype: float64

In [22]:
#mean total amount per vendor
round(df.groupby(['VendorID']).mean(numeric_only=True)[['total_amount']],ndigits=2)

          total_amount
VendorID
1                16.30
2                16.32

In [23]:
#filter df for credit card payments only
credit_card = df[df['payment_type']==1]

#filter credit-card-only data for passenger count
credit_card['passenger_count'].value_counts()

#0 passengers have used credit card 27 times (check possible error)

passenger_count
1    10977
2     2168
5      775
3      600
6      451
4      267
0       27
Name: count, dtype: int64

In [24]:
#average tip amount per passenger count for credit card payments
round(credit_card.groupby(['passenger_count']).mean(numeric_only=True)[['tip_amount']], ndigits=2)

                 tip_amount
passenger_count
0                      2.61
1                      2.71
2                      2.83
3                      2.73
4                      2.61
5                      2.76
6                      2.64

In [25]:
#fare amount equal zero
faez = df[df['fare_amount']==0]

#fare amount different than zero
fadz = df[df['fare_amount']!=0]

#distance equal zero
dez = df[df['trip_distance']==0]

#distance different than zero
ddz = df[df['trip_distance']!=0]

In [26]:
#showing trip distance values when payment equals zero. worth investigating
faez.sort_values(by=['trip_distance'], ascending=False)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
21842,31708083,1,04/18/2017 4:55:29 PM,04/18/2017 6:29:44 PM,2,20.40,5,N,264,264,3,0.0,0.0,0.0,0.0,12.5,0.3,12.8
4402,108016954,2,12/20/2017 4:06:53 PM,12/20/2017 4:47:50 PM,1,7.06,1,N,263,169,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19067,58713019,1,07/10/2017 2:40:09 PM,07/10/2017 2:40:59 PM,1,0.10,5,N,261,13,3,0.0,0.0,0.0,0.0,0.0,0.3,0.3
5722,49670364,2,06/12/2017 12:08:55 PM,06/12/2017 12:08:57 PM,1,0.00,1,N,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10506,26005024,2,03/30/2017 3:14:26 AM,03/30/2017 3:14:28 AM,1,0.00,1,N,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22566,19022898,2,03/07/2017 2:24:47 AM,03/07/2017 2:24:50 AM,1,0.00,1,N,264,193,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
#sorting fare amount values when trip distance equals zero. worth investigating
dez.sort_values(by=['fare_amount'], ascending=False).head(10)

,Unnamed: 0,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
20312,107558404,2,12/19/2017 9:40:46 AM,12/19/2017 9:40:55 AM,2,0.0,5,N,265,265,2,450.00,0.0,0.0,0.00,0.00,0.3,450.30
15474,55538852,2,06/06/2017 8:55:01 PM,06/06/2017 8:55:06 PM,1,0.0,5,N,265,265,1,200.00,0.0,0.5,11.00,0.00,0.3,211.80
12511,107108848,2,12/17/2017 6:24:24 PM,12/17/2017 6:24:42 PM,1,0.0,5,N,265,265,1,175.00,0.0,0.0,46.69,11.75,0.3,233.74
11269,51920669,1,06/19/2017 12:51:17 AM,06/19/2017 12:52:12 AM,2,0.0,5,N,265,265,1,120.00,0.0,0.0,20.00,11.52,0.3,151.82
7281,111091850,2,01/01/2017 3:02:53 AM,01/01/2017 3:03:02 AM,1,0.0,5,N,265,265,1,100.00,0.0,0.5,20.16,0.00,0.3,120.96
6878,69466211,2,08/17/2017 4:06:26 AM,08/17/2017 4:06:29 AM,4,0.0,5,N,100,100,1,98.50,0.0,0.5,0.00,0.00,0.3,99.30
4742,18394854,1,03/05/2017 6:41:16 AM,03/05/2017 6:41:16 AM,1,0.0,5,N,233,264,2,80.84,0.0,0.0,0.00,0.00,0.3,81.14
12501,31724098,1,04/18/2017 5:47:58 PM,04/18/2017 5:47:58 PM,0,0.0,99,N,264,264,1,77.20,0.0,0.5,0.00,0.00,0.3,78.00
2817,52776563,1,06/21/2017 4:44:54 PM,06/21/2017 4:45:13 PM,2,0.0,5,N,230,230,1,75.00,0.0,0.0,7.70,0.00,0.3,83.00
13359,3055315,1,01/12/2017 7:19:36 AM,01/12/2017 7:19:56 AM,1,0.0,5,N,1,1,1,75.00,0.0,0.0,18.65,18.00,0.3,111.95